<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/menu.css">
	<title>Reto 1</title>
</head>
<body>
	<header>
		<img src="http://hackspace.la/img/ejemplos/logo-hs.png" alt="HackSpace Perú">
		<h1>Reto 1 Hackspace</h1>
    </header>
	<nav>
		<h3>Menú</h3>
		<ul class="menu">
		<li><a href="#Frontend">Frontend</a></li><br><br>
		<li><a href="#Backend">Backend</a></li><br><br>
		<li><a href="#Electronica">Electronica</a></li><br><br>
		<li><a href="#Electronica">Algoritmos</a></li>

			

		</ul>


	</nav>
	<main class="cuerpo">
		<article>
			<header>
				<h2>¿Qué es Frontend?</h2>
				<time> Publicado el 16 de Enero de 2016 </time>
				<br>
					<p>Front-end y back-end son términos que se relacionan con el principio y el final de un proceso. Estos términos adquieren una relevancia mayor en ciertas áreas particulares. <a href="#">seguir leyendo..</a></p>
			</header>
			<footer>
				
			<a href="#">Selectores</a>  <a href="#">Cajas</a>  <a href="#">Display</a>

			</footer>
			<hr></hr>
			<br>
			<article>
				<time> Enviado el 16 de enero de 2016 15:00</time>
					<p>Muy buen articulo sigue asi.</p>
			</article>

			<article>
				<time> Enviado el 16 de enero de 2016 16:45</time>
					<p>Gracias por el aporte</p>
			</article>
				
				<br>
				<textarea placeholder="Ingresa Comentario"></textarea>
				<br>
				<button type="submit">Enviar</button>

		</article>
		<article>
			<header>
				<h2>Selectores</h2>
				<time> Publicado el 15 de Enero de 2016 </time>
				<br>
					<p>El selector indica a qué hay que aplicarle la regla y la declaración especifica qué es lo que hay que hacerle <a href="#">seguir leyendo..</a></p>
			</header>
			<footer>
				
			<a href="#">id</a>  <a href="#">clase</a>  <a href="#">adyacente</a>

			</footer>
			<hr></hr>
			<br>
			<article>
				<time> Enviado el 16 de enero de 2016 17:00</time>
					<p>¿Cuántos selectores existen?.</p>
			</article>

			<article>
				<time> Enviado el 16 de enero de 2016 18:30</time>
					<p>Gracias me ayudo mucho</p>
			</article>
				
				<br>
				<textarea placeholder="Ingresa Comentario"></textarea>
				<br>
				<button type="submit">Enviar</button>
				

				


		</article>
		<article>
			<header>
				<h2>GitHub</h2>
				<time> Publicado el 15 de Enero de 2016 </time>
				<br>
					<p>Es una plataforma de desarrollo colaborativo de software para alojar proyectos utilizando el sistema de control de versiones Git. El código se almacena de forma pública, aunque también se puede hacer de forma privada, creando una cuenta de pago. <a href="#">seguir leyendo..</a></p>
			</header>
			<footer>
				
			<a href="#">Selectores</a>  <a href="#">Cajas</a>  <a href="#">Display</a>

			</footer>
			<hr></hr>
			<br>
			<article>
				<time> Enviado el 16 de enero de 2016 14:00</time>
					<p>Eso es para guardar tu sitio web?</p>
			</article>

			<article>
				<time> Enviado el 16 de enero de 2016 16:45</time>
					<p>Gracias por el aporte</p>
			</article>
				
				<br>
				<textarea placeholder="Ingresa Comentario"></textarea>
				<br>
				<button type="submit">Enviar</button>

		</article>
		<article>


	</main>
	<br>
	<br>
	<hr>
	<footer>
	Contactame:
		<br>
		 <a href="https://twitter.com/eldiegoD10s/status/688548604194217984" target="_blanck">@eldiegoD10s</a>
		 <a href="https://www.facebook.com/diegogustavo.sanchezmendez" target="_blanck">Diego Sánchez Mendez</a>

	</footer>
</body>
</html>